<div class="container">

    <div class="card">
        <div class="image-content">
            <span class="overlay">
                <p class="tag" (click)="editDetails()">Edit CompanyDetails</p>
            </span>

            <div class="card-image">
                <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg3MC10YW5nLTM2XzEuanBn.jpg"
                    alt="" class="card-img">
            </div>
        </div>

        <div class="card-content">
            <h2 class="name">{{company.name}} </h2>
            <div class="eq-app">
                <div class="desc-container">
                    <p class="description"><i class="material-icons">&#xe0c8;</i>
                        {{company.address.city}},{{company.address.country}} </p>
                    <p class="description"><i class="material-icons">&#xe873;</i>{{company.description}} </p>
                    <p class="description"><i class="material-icons">&#xe885;</i> {{company.grade}} </p>
                </div>

                <div *ngFor="let appointment of company.appointments">

                    <p>Date: {{appointment.date}}</p>
                    <p class="price">Duration: {{appointment.duration}}</p>

                </div>
            </div>

            <h2>Equipment</h2>
            <div class="card-footer">

                <div *ngFor="let equipment of companyEquipment">
                    <div>
                        <mat-form-field class="input">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="equipment.name" type="text">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input">
                            <mat-label>Description</mat-label>
                            <input matInput [(ngModel)]="equipment.description" type="text">
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="equipmentAmounts">
                        <p class="price-text" *ngFor="let ea of equipmentAmounts">
                            <ng-container *ngIf="ea.equipmentId === equipment.id">
                                <mat-form-field class="input">
                                    <input matInput [(ngModel)]="ea.amount" type="text">
                                </mat-form-field>
                                <div class="editEq">
                                    <p class="tag" (click)="editEquipment(equipment,ea.amount)">Edit</p>
                                </div>
                            </ng-container>
                        </p>
                    </ng-container>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="updateContainer" *ngIf="showEditDetailsTable">
        <h1>Edit Company Details</h1>

        <form [formGroup]="inputForm">
            <div>
                <mat-form-field appearance="fill">

                    <input matInput type="text" placeholder="Name" formControlName="name">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <textarea matInput rows="4" placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>

            </div>
            <div>
                <div>
                    <mat-label>Address: </mat-label>
                </div>


                <div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="city" formControlName="city">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="country" formControlName="country">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="street" formControlName="street">
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="number" formControlName="number">
                    </mat-form-field>
                </div>
            </div>

            <div class="buttonClass">
                <button mat-raised-button type="submit" color="primary" (click)="edit(company)">Edit</button>

            </div>


        </form>
    </div>
</div>
<div class="buttonOptions">
    <button mat-raised-button type="submit" color="primary" (click)="addEquipmentClick()">AddEquipment</button>
</div>
<div *ngIf="showAddTable">
    <h2>Available Equipment</h2>


    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let equipment">{{ equipment.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let equipment">{{ equipment.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="grade">
            <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
            <mat-cell *matCellDef="let equipment">{{ equipment.grade }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let equipment">
                <ng-container *ngIf="equipmentAmounts">
                    <p class="price-text" *ngFor="let ea of equipmentAmounts">
                        <ng-container *ngIf="ea.equipmentId === equipment.id">
                            <mat-form-field>
                                <input matInput [(ngModel)]="ea.amount" placeholder="Enter amount" type="number">
                            </mat-form-field>
                        </ng-container>
                    </p>
                </ng-container>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let equipment">
                <button mat-icon-button (click)="addEquipmentToCompany(equipment)">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>