<!-- displayProfile.component.html -->

<div class="wrapper">
    <div class="profile-container">
      <div class="header">
       
        <button class="image-button" (click)="editProfile()">
          <img src="https://cdn.pixabay.com/photo/2017/06/06/00/33/edit-icon-2375785_1280.png" alt="Edit Icon">
        </button>
      
      </div>
      <div class="info">
        <div class="user-details">
          <div>
            <img class="profile_image" src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg" alt="User Image" />
          </div>
          <div class="personal-info" *ngIf="isEditing">
            <form [formGroup]="profileForm">
                <p><strong>First Name:</strong> <input formControlName="firstname" [readonly]="!isEditing"></p>
                <p><strong>Last Name:</strong> <input formControlName="lastname" [readonly]="!isEditing"></p>
                <p><strong>Password:</strong> <input type="password" formControlName="password" [readonly]="!isEditing"></p>
                <p><strong>Phone Number:</strong> <input formControlName="phoneNumber" [readonly]="!isEditing"></p>
                <p><strong>Occupation:</strong> <input formControlName="occupation" [readonly]="!isEditing"></p>
               
                <p><strong>Email:</strong> {{ registeredUser.email }}</p>
                <p><strong>Address:</strong>
                    <input formControlName="street" [readonly]="!isEditing">,
                    <input formControlName="number" [readonly]="!isEditing">,
                    <input formControlName="city" [readonly]="!isEditing">,
                    <input formControlName="country" [readonly]="!isEditing">
                  </p>
                  
                <button class="update-button" type="button" (click)="updateProfile()">UPDATE</button>
              </form>
              
          </div>
          <div class="personal-info" *ngIf="!isEditing">
            <form [formGroup]="profileForm">
                <p><strong>First Name:</strong> {{ registeredUser.firstname }}</p>
                <p><strong>Last Name:</strong> {{ registeredUser.lastname }}</p>
                <p><strong>Password:</strong> ********</p> 
                <p><strong>Phone Number:</strong> {{ registeredUser.phoneNumber }}</p>
                <p><strong>Occupation:</strong> {{ registeredUser.occupation }}</p>
                <p><strong>Email:</strong> {{ registeredUser.email }}</p>
                <p><strong>Address:</strong> {{ registeredUser.address.street }}, {{ registeredUser.address.number }}, {{ registeredUser.address.city }}, {{ registeredUser.address.country }}</p>

            </form>
          </div>
        </div>
        <div class="loyalty-details">
            <div class="loyalty">
          <p><strong>Penalty Points:</strong> {{ registeredUser.penaltyPoints }}</p>
          <p class="category"> {{ registeredUser.userCategory }}</p>
        </div>
        <div class="main-one">
          <div class="card-footer" >
            <div class="sorting-options">
              <label for="sort-appointments">Sort by:</label>
              <select id="sort-appointments" [(ngModel)]="selectedSort" (ngModelChange)="sortAppointments()">
                <option value="dateAsc">Date🔼</option>
                <option value="dateDesc">Date🔽</option>
                <option value="timeAsc">Time🔼</option>
                <option value="timeDesc">Time🔽</option>
                <option value="priceAsc">Price🔼</option>
                <option value="priceDesc">Price🔽</option>
              </select>
            </div>
          </div>
          <div>
            <ul class="equipment-list">
              <li *ngFor="let app of myAppointments" class="equipment-item">
                <div class="above-button">
                  <p class="eq-name">{{ app.date }}</p>
                 
                </div>
                <p class="price-text">🕒: {{ app.startTime }}</p>
                <p class="price-text">🕓: {{ app.endTime }} </p>
                <p class="price-text">💵: {{ appointmentPrices[app.id] }}</p>

          
                <label *ngIf="isReservationTaken(app.id)">
                  📦✅ <!-- Reservation taken -->
                </label>
                <label *ngIf="!isReservationTaken(app.id)">
                  📦❌ <!-- Reservation not taken -->
                </label>

                <button (click)="cancelReservation(app)" class="cancel-button">
                  Cancel
                </button>
              </li>
            </ul>
          </div>
          <div class="search"> 
            <button class="filter-button"
            (click)="toggleFilterVisibility()">Filter</button>
          </div>
         
          
          
          
        <div class="search" *ngIf="isFilterVisible">
          <label>
            Status:
            <select [(ngModel)]="selectedStatus" (change)="loadQRs()">
              <option value="TAKEN">TAKEN</option>
              <option value="RESERVED">RESERVED</option>
              <option value="CANCELED">CANCELED</option>
              <option value="EXPIRED">EXPIRED</option>
            </select>
          </label>
         
          </div>
          <ul class="equipment-list">
          <li *ngFor="let reservation of reservations">
            <img [src]="'data:image/png;base64,' + reservation.qrCodeBase64" alt="QR Code" style="width: 100px; height: 100px;">
          </li>
        </ul>
          
          
          
          
      </div>
        </div>
      </div>
    </div>
  </div>
  