/* custom-table.component.css */
.mat-table {
    border-radius: 8px; /* Zaobljene ivice */
  }
  
  .mat-header-cell, .mat-cell {
    border: 1px solid #4CAF50; /* Nijansa zelene boje */
    padding: 8px;
  }

  .tableClass{
    margin-top: 50px;
  }

  .tableClass {
    border-radius: 10px; /* Postavite vrednost ivica */
    overflow: hidden; /* Osigurava da se zaobljenje primenjuje */
    
  }
  
  /* Dodatne stilizacije po potrebi */
  
  .tableClass table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0; /* Dodajte margine po potrebi */
  }
  
  .tableClass th, .tableClass td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Linije između redova */
  }
  
  .tableClass th {
    background-color: #2E7D32; /* Boja zaglavlja */
    color: white;
  }
  
  .button {
  
  font-size: 12px;
  color: #006400; /* Tamno zelena boja */
  background-color: transparent;
  border: 2px solid #006400; /* Tamno zelena boja ivice */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Stil za dugme kada je pokazivač miša iznad njega */
.button:hover {
  background-color: #006400; /* Tamno zelena boja pozadine */
  color: #fff; /* Bela boja teksta */
}


/* Stil za dugme kada je pritisnuto */
.button:active {
  background-color: #004d00; /* Tamnija zelena boja pozadine kada je dugme pritisnuto */
  border-color: #004d00; /* Tamnija zelena boja ivice kada je dugme pritisnuto */
}
  