/* Stil za container */
.container {
    text-align: center;
    margin-top: 4rem;
  }
  
  /* Stil za naslov */
  .container h1 {
    font-size: 2rem;
  }
  
  /* Stil za dugmad */
  .btn {
    margin-top: 1rem;
  }
  
  /* Stil za dugme "Kreiraj Kompaniju" */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Stil za dugme "Kreiraj Admina Kompanije" */
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  /* Stil za dugme "Kreiraj Sistemskog Admina" */
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  