<div class="container mt-4">
    <h1>Home page for system admin</h1>
  
    <!-- Dugme za kreiranje kompanije -->
    <button type="button" class="btn btn-primary mt-3" routerLink="/register-company-profile">
      Create company
    </button>
  
    <!-- Dugme za kreiranje admina kompanije -->
    <button type="button" class="btn btn-success mt-3" routerLink="/create-company-admin">
      Create company administrator
    </button>
  
    <!-- Dugme za kreiranje sistemskog admina -->
    <button type="button" class="btn btn-danger mt-3" routerLink="/create-system-admin">
      Create system administrator
    </button>
  </div>
  