<div class="companies-view">

  <h1 class="results-title">Companies</h1>


  <div class="slide-content">
    <div class="card-wrapper">
      <div class="card" *ngFor="let company of companies" (click)="showOneCompany(company)">
        <div class="image-content">
          <span class="overlay">
            <p class="tag">Stay safe</p>
          </span>

          <div class="card-image">
            <img
              src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg3MC10YW5nLTM2XzEuanBn.jpg"
              alt="" class="card-img">
          </div>
        </div>

        <div class="card-content">
          <h2 class="name">{{company.name}} </h2>
          <div class="eq-app">
          <div class="desc-container">
            <p class="description"><i class="material-icons">&#xe0c8;</i>
              {{company.address.city}},{{company.address.country}} </p>
            <p class="description"><i class="material-icons">&#xe873;</i>{{company.description}} </p>
            <p class="description"><i class="material-icons">&#xe885;</i> {{company.grade}} </p>
          </div>

          
        </div>

         

        </div>

      </div>

    </div>
  </div>
</div>