<div class="wrapper">
  <div class="inner-wrap">
    <p ><a  raised-button [routerLink]="['showCompanyProfile']" class="link">Home</a></p>
    <div class="spacer"></div>
    <div class="buttons">
      <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_REGISTERED_USER'"
        routerLinkActive="active"
        [routerLink]="['displayProfile']"
        class="link"
      >
        My Profile
     </a>
     <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
        routerLinkActive="active"
        [routerLink]="['updateCompany']"
        class="link"
      >
        Update Company
     </a>
     <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
        routerLinkActive="active"
        [routerLink]="['companyAdminProfile']"
        class="link"
      >
        Your Profile
     </a>

     <a
     raised-button
     *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
     routerLinkActive="active"
     [routerLink]="['usersReserved']"
     class="link"
   >
     UsersReserved
  </a>

  <a
  raised-button
  *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
  routerLinkActive="active"
  [routerLink]="['showReservations']"
  class="link"
>
  Reservation Approve
</a>



<a
raised-button
*ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
routerLinkActive="active"
[routerLink]="['workCalendar']"
class="link"
>
WorkCalendar
</a>

<a
    raised-button
    *ngIf="isLogged && userRole == 'ROLE_SYSTEM_ADMIN' && wasLogged"
    routerLinkActive="active"
    [routerLink]="['allLoyaltyPrograms']"
    class="link"
    >
    Loyalty program
</a>

<a
    raised-button
    *ngIf="isLogged && userRole == 'ROLE_SYSTEM_ADMIN' && wasLogged"
    routerLinkActive="active"
    [routerLink]="['registerCompanyProfile']"
    class="link"
    >
    Create company
</a>
<a
    raised-button
    *ngIf="isLogged && userRole == 'ROLE_SYSTEM_ADMIN' && wasLogged"
    routerLinkActive="active"
    [routerLink]="['registerCompanyAdmin']"
    class="link"
    >
    Register company admin
</a>


<a
    raised-button
    *ngIf="isLogged && userRole == 'ROLE_SYSTEM_ADMIN' && wasLogged"
    routerLinkActive="active"
    [routerLink]="['registerSystemAdmin']"
    class="link"
    >
    Register system admin
</a>


      <button *ngIf="!isLogged" class="nbutton" [routerLink]="['login']">
        Login
      </button>
      <button *ngIf="isLogged" class="nbutton" (click)="onLogout()">
        Logout
      </button>
    </div>
  </div>
</div>