<div class="wrapper">
  <div class="inner-wrap">
    <p raised-button [routerLink]="['showCompanyProfile']" class="link">Home</p>
    <div class="spacer"></div>
    <div class="buttons">
      <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_REGISTERED_USER'"
        routerLinkActive="active"
        [routerLink]="['displayProfile']"
        class="link"
      >
        My Profile
     </a>
     <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
        routerLinkActive="active"
        [routerLink]="['updateCompany']"
        class="link"
      >
        Update Company
     </a>
     <a
        raised-button
        *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
        routerLinkActive="active"
        [routerLink]="['companyAdminProfile']"
        class="link"
      >
        Your Profile
     </a>

     <a
     raised-button
     *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
     routerLinkActive="active"
     [routerLink]="['usersReserved']"
     class="link"
   >
     UsersReserved
  </a>

  <a
  raised-button
  *ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
  routerLinkActive="active"
  [routerLink]="['showReservations']"
  class="link"
>
  Reservation Approve
</a>



<a
raised-button
*ngIf="isLogged && userRole == 'ROLE_COMPANY_ADMIN' && wasLogged"
routerLinkActive="active"
[routerLink]="['workCalendar']"
class="link"
>
WorkCalendar
</a>
      <button *ngIf="!isLogged" class="nbutton" [routerLink]="['login']">
        Login
      </button>
      <button *ngIf="isLogged" class="nbutton" (click)="onLogout()">
        Logout
      </button>
    </div>
  </div>
</div>
