<div class="wrap">
  <form [formGroup]="userForm" class="form-wrap">
    <div class="first-form">
      <p class="title">Sign Up:</p>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastname" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Reenter password</mat-label>
        <input matInput formControlName="reenterPassword" type="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Occupation</mat-label>
        <input matInput formControlName="occupation" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail</mat-label>

        <input matInput formControlName="email" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" type="text" />
      </mat-form-field>
    </div>
    <div formGroupName="address" class="new-form">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" type="text" />
      </mat-form-field>
    </div>
    <button
      class="button1"
      type="submit"
      color="primary"
      (click)="registerUser()"
    >
      Send email to confirm registration
    </button>
  </form>
</div>
