<div class="form-container">
<form #adminForm (ngSubmit)="createAdmin()">
    <h2 class="form-title">Create new company administrator</h2>
   
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="adminData.email"><br>
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="adminData.password"><br>
    </div>
    <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="adminData.firstname"><br>
    </div>
    <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="adminData.lastname"><br>
    </div>
    <div class="form-group">
      <label for="lastName">Username:</label>
      <input type="text" id="lastName" name="username" [(ngModel)]="adminData.username"><br>
      </div>
    <div class="form-group">
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="adminData.phoneNumber"><br>
    </div>
    <div class="form-group">
    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation" [(ngModel)]="adminData.occupation"><br>
    </div>
    <div>
      <p>Adresa</p>
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" id="street" name="street" [(ngModel)]="address.street" required>
    </div>
    <div class="form-group">
      <label for="number">Number:</label>
      <input type="number" id="number" name="street" [(ngModel)]="address.number" required>
    </div>
    <div class="form-group">
      <label for="street">City:</label>
      <input type="text" id="city" name="city" [(ngModel)]="address.city" required>
    </div>
    <div class="form-group">
      <label for="street">Country:</label>
      <input type="text" id="country" name="country" [(ngModel)]="address.country" required>
    </div>

    <button type="submit">Create Admin</button>

</form>
</div>