<p>Company name:</p>
<p>{{company.name}}</p>
<p>Choose type of calendar</p>
<label for="calendarRange">Select display range:</label>
<select id="calendarRange" name="calendarRange" [(ngModel)]="selectedRange">
  <option value="week">Week</option>
  <option value="month">Month</option>
  <option value="year">Year</option>
</select>
<div>
    <button class="button" color="primary" (click)="changeCalendarPerspective()" mat-raised-button>Select</button>
</div>
<full-calendar [options]="calendarOptions"></full-calendar>
